@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
  background-color: rgb(24, 22, 22);
  color: white;
  font-family: "Nunito", sans-serif;
}

.title{
  margin-left: 45vw;
  text-decoration: underline;
}

.form-main{
  width: 71vw;
  height: 170px;
  background-color: rgb(91, 93, 96);
  font-family: "Nunito", sans-serif;
  padding: 2vw;
  padding-left: 25vw;
  border-radius: 24px;
} 

form input{
  background-color: white;
  font-family:"Nunito", sans-serif ;
  border-radius: 5px;
  width: 950px;
  height: 35px;
  margin-top: 10px;
  font-size: 20px;
  border-width: 1px;
  border-color: white;
}



.submit{
  border-color: rgb(8, 132, 241);
  background-color: rgb(8, 132, 241);
  font-family:"Nunito", sans-serif ;
}

.submit:hover{
  border-color: rgb(8, 132, 241);
  background-color: rgb(8, 132, 241);
  box-shadow: 0 0 20px rgb(68, 186, 255);
}

.task-list{
  font-family: 'Nunito', sans-serif;
 
  border-radius: 24px;
  border-width: 1px;
}

.task-card{
  background-color: rgb(99, 98, 98);
  border-width: 5px;
  margin-top: 20px;
  border-radius: 24px;
  border-width: 1px;
  height: 180px;
  padding: 20px;
  margin-left: -20px;
}

.reset{
  background-color: rgb(69, 133, 69);
  border-color: rgb(69, 133, 69) ;
  font-family:"Nunito", sans-serif ;
  color: white;
}
.reset:hover{
  background-color: rgb(69, 133, 69);
  border-color: rgb(69, 133, 69) ;
  font-family:"Nunito", sans-serif ;
  color: white;
  box-shadow: 0 0 20px #4f9;
}

.delete-button {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding-left: -50px;
  background-color: rgba(255,62,90,255);
  border: none;
}

.delete-img{
  margin-left: -2px;
  height: 42px;
  width: 42px;
}

.delete-button:hover{
  box-shadow: 0 0 20px rgba(255,62,90,255);
  background-color: rgba(255,64,90,255);
}

.no-task{
  margin-left: 45vw;
}

.icon{
  width: 50px;
  height: 50px;
  margin-left: 0.5vw;
}